*{
  padding: 0;
  margin: 0;
}
.app-container{
  display: flex;
}
.app-container .content{
  width: 100%;
}
.sidebar{
  min-height: 640px;
}
li:focus{
  background-color: red;
}
.post-card{
  margin: 20px 50px ;
}
.delete-btn{
  padding: 20px;
}
.hastags{
  margin: 0px 4px;
  padding: 3px 5px;
}
.reactions{
  width: 100%;
  margin: 0;
  margin-top: 15px ;
}
.create-post{
  width: 80%;
  margin: auto; 
  margin-top: 45px;
}
.create-post input,.create-post textarea{
  padding: 15px 10px; 
}
.create-post label{
  color: blue;
  font-weight: bold;
}
.create-post input::placeholder,.create-post textarea::placeholder {
  font-size: 15px;
}
.create-post button{
  margin-top: 10px;
  position: relative;
  left: 45%;
}